* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

.swb {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.centered {
    text-align: center;
}

/*.headerlogo {*/
    /*width: 62%;*/
/*}*/

.Menu-link{
    color: white;
}

.Menu-link:hover {

    border-top: 3px solid #8e3090;
    color: white;
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.web {

    margin-bottom: 29px;
    margin-top: 29px;
}


.second {
    text-align: center;
}


.third IMG {
    position: relative;
}

.screen {
    margin-top: 100px;
}

.three { top: 0px; left: 0px; z-index: 1; }
.seven { right: -350px; top: -400px; z-index: 2; }
.ace { left: 18%; top: -882px; z-index: 5; }

.GradientFilledSection {
    background: linear-gradient(to right, #211b19, #4e3427);
}

.brand {
    background: url("../image/brand-baground.jpg") no-repeat center top / cover;
}

.www {
    padding-top: 140px;
    padding-bottom: 139px;
}

.end {
    background: #191919;
}

.end2 {
    padding-top: 81px;
}

.gallery {
    width: 100%;
}
.gallery IMG {
    margin-right:1.9%;
    margin-top: 2.6%;
    width: 36%;
}