@import "_reset";
@import "_variables";
@import "_fonts";
@import "_additional-classes";
@import "_header";
@import "_content";
@import "_recent-post";
@import "_gallery";
@import "_forma";

#wrapper {
    min-height: 100%;
}

.swb {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.centered {
    text-align: center;
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.web {

    margin-bottom: 29px;
    margin-top: 79px;
}


.second {
    text-align: center;
     i {
       color: #555555;
     }
    h2 {
      color: #555555;
    }
    p {
      color: #8c8c8c;
    }
  h3 {
    color: #f1eee9;
  }
    }
    //&:active, &:hover {
    //color: #c7b299;
    //}


.second:hover {
  i {
    color: #c7b299;
  }
  h3 {
    color: #c7b299;
  }
  h2 {
    color: #c7b299;
  }
}


.thirdContent {
  padding-top: 80px;
}

.third {
  background: #fbfaf8;
}

.third img {
    position: relative;
}

.three { top: 0px; left: 0px; z-index: 1; }
.seven { right: -350px; top: -400px; z-index: 2; }
.ace { left: 18%; top: -882px; z-index: 5; }

.GradientFilledSection {
    background: linear-gradient(to right, #211b19, #4e3427);
}

.brand {
  background: url("../img/brand-baground.jpg") no-repeat center top / cover;
}

.iphoneInner {
  margin-top: 79px;
}

.iphoneUl {
  margin-top: 30px;
  margin-left: 30px;
  list-style-image: url(../img/mark.png)
}


.www {
    padding-top: 140px;
    padding-bottom: 139px;
}



.counterInner {
  margin-top:70px;
  margin-bottom:40px;
}

.gallery {
    width: 100%;
}
.gallery img {
    margin-right:1.9%;
    margin-top: 2.6%;
    width: 36%;
}
/**
 * Video
 */
.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px; overflow: hidden;
}


.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.thirdImg {
  font-size: 40px;
}



.count
{

  color:white;

}

.four {
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Raleway-Medium', sans-serif;
    font-size: 28px;
  }
  p {
    color: #615855;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 18px;
  }
}

.end {
  background: #191919;
}

.end2 {
  padding-top: 81px;
  h3 {
    color: #fff;
    font-size:24px;
    font-family: 'Raleway-Bold', sans-serif;
  }
}



.footerText {
  p {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 14px;
    color: #555555;
  }
}

.footerLogo {
  margin-bottom: 30px;
}

#map {
  height: 400px;
  width: 100%;
}

.counterSpan {
  font-size: 40px;
}