<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/vendor.css">
    <link rel="stylesheet" href="../css/app.min.css">
</head>
<body>
<div class="forma">
    <div class="container swb">
        <div class="row">
            <div class="navbar  navbar-static-top  headerlogo" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed headerBtn" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand logo headerLogo">
                            <img src="../img/logo1.png" alt="logo">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse headerMenuContainer" id="responsive-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="../index.html" class="menuLink">Home</a></li>
                            <li><a href="#aboutus" class="menuLink">About Us</a></li>
                            <li><a href="#portfolio" class="menuLink">Portolio</a></li>
                            <li><a href="#features" class="menuLink">Features</a></li>
                            <li><a href="#Blog" class="menuLink">Blog</a></li>
                            <li><a href="#pricing" class="menuLink">Pricing</a></li>
                            <li><a href="#shortcodes" class="menuLink">Shortcodest</a></li>
                            <li><a href="views/contacts.html" class="menuLink active">Contact</a></li>
                            <li><a href="#" ><img src="../img/icon-cart.png"></a> </li>
                            <li><a href="#"><img src="../img/icon-search.png"></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row formContainer">
        <div class="container contactForm">

                <div class="col-lg-6">
                    <h1>Contacts</h1>
                    <div class="telephone">
                        <h3>Telephone:</h3>
                        <p>Main phone: +38 (097) 8998-332</p>
                        <p>Marketing: +39 (099) 12345-678</p>
                        <p>Administration: +38 (093) 3993-9339 </p>
                    </div>
                    <div class="email">
                        <h3>E-mail:</h3>
                        <p>info@waxom.ua – Support</p>
                        <p>investor@waxom.ua – For investor</p>
                        <p>press@waxom.ua – Press</p>
                        <p>sales@waxom.ua – Sales</p>
                    </div>
                </div>
            <br>
                <div class="col-lg-6">
                    <h3>Have a question?</h3>

                    <form  name="questionForm" id="questionForm">
                        <div class="validationMsg hidden" id="validateEmail"><h6>not correct email</h6></div>
                        <div class="form-group">
                            <label for="email" class="control-label">
                                <h5>Email</h5>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Enter your E-mail">
                        </div>

                        <div class="form-group">
                            <label for="name" class="control-label">
                                <h5>Name</h5>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   id="name"
                                   placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment" placeholder="Enter your question"></textarea>
                        </div>
                        <button id="sendFormBtn">Send</button>
                    </form>

                </div>
            </div>




    </div>
    <div class="maps">
        <div class="container contactForm">
            <h3>Our Address <i class="glyphicon glyphicon-flag"></i> </h3>
            <div id="map"></div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnh73HwYy5nxr_Il3rLb7-FKERxkCizrk&callback=initMap" async defer></script>

<script src="../js/vendor.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
