<div class="forma">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h4>Contacts</h4>
                <div class="telephone">
                    <h4>Telephone:</h4>
                    <p>Main phone: +38 (097) 8998-332</p>
                    <p>Marketing: +39 (099) 12345-678</p>
                    <p>Administration: +38 (093) 3993-9339 </p>
                </div>
                <div class="email">
                    |<p>E-mail:</p>
                    <p>info@waxom.ua – Support</p>
                    <p>investor@waxom.ua – For investor</p>
                    <p>press@waxom.ua – Press</p>
                    <p>sales@waxom.ua – Sales</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Have a question?</h4>
                <form action="#" name="questionForm">
                    <div class="form-group">
                        <label for="email" class="control-label">
                            Email
                        </label>
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Enter your E-mail">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">
                            Name
                        </label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               id="name"
                               placeholder="Enter your name">
                    </div>
                </form>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Enter your question"></textarea>
                </div>
            </div>
        </div>
        <div class="adres">
            <h3>Central office</h3>
            <p>Address: 8, Vynnychenko St., Ternopil, 46018, Ukraine</p>
            <div id="map"></div>
            <script>
                function initMap() {
                    var uluru = {lat: -25.363, lng: 131.044};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
            </script>

        </div>
    </div>
</div>