<div class="counter">
    <div class="container">
        <div class="row centered counterInner">
            <div class="col-lg-2 col-lg-offset-1">
                <img src="img/Counters/1.png">
                <div ><span class="count counterSpan">200</span></div>
                <p class="counterP">SATISFIELD CLIENTS</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2">
                <img src="img/Counters/2.png">
                <div ><span class="count counterSpan">207</span></div>
                <p class="counterP">CUPS OF COFEE</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2">
                <img src="img/Counters/3.png">
                <div ><span class="count counterSpan">2500</span></div>
                <p class="counterP">BLOG POSTS</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2">
                <img src="img/Counters/4.png">
                <div ><span class="count counterSpan">873</span></div>
                <p class="counterP">LIKES</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2 ">
                <img src="img/Counters/5.png">
                <div ><span class="count counterSpan">900</span></div>
                <p class="counterP">WE LAUNCHED</p>
                <h1 class="counterH1">__</h1>
            </div>
        </div>
    </div>
</div>