<div class="counter">
    <div class="container">
        <div class="row centered counterInner">
            <div class="col-lg-2 col-lg-offset-1">
                <img src="img/Counters/1.png">
                <h1 class="counterH1">3587</h1>
                <p class="counterP">SATISFIELD CLIENTS</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2">
                <img src="img/Counters/2.png">
                <h1 class="counterH1">207</h1>
                <p class="counterP">CUPS OF COFEE</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2">
                <img src="img/Counters/3.png">
                <h1 class="counterH1">2500</h1>
                <p class="counterP">BLOG POSTS</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2">
                <img src="img/Counters/4.png">
                <h1 class="counterH1">873</h1>
                <p class="counterP">LIKES</p>
                <h1 class="counterH1">__</h1>
            </div>
            <div class="col-lg-2 ">
                <img src="img/Counters/5.png">
                <h1 class="counterH1">900</h1>
                <p class="counterP">WE LAUNCHED</p>
                <h1 class="counterH1">__</h1>
            </div>
        </div>
    </div>
</div>