<div class="end">
    <div class="container end2">
        <div class="row ">
            <div class="col-lg-3 footerText">
                <img src="img/logo1.png" class="footerLogo">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci architecto asperiores at cum deleniti deserunt eligendi harum ipsum labore libero perspiciatis provident quam, repellendus similique unde, velit veritatis voluptatibus!</p>
                <br>
                <a href="#">Read more<i class="glyphicon glyphicon-play"></i> </a>
            </div>
            <div class="col-lg-3">
                <h3>Recent post</h3>
            </div>
            <div class="col-lg-3">
                <h3>Our Twitter</h3>
            </div>
            <div class="col-lg-3">
                <h3>Dribbble Widget</h3>
                <div class="gallery">
                    <img src="img/drible/photo.png">
                    <img src="img/drible/photo1.png">
                    <img src="img/drible/photo2.png">
                    <img src="img/drible/photo3.png">
                </div>
            </div>
        </div>
    </div>
</div>