<div class="container galleryContainer" id="galleryOutput">
    <h2 class="main-title">Our Latest Project</h2>
    <h3 class="main-sub-title">Investigationes demonstraverunt lectores legere me lius quod ii</h3>
    <ul class="list-unstyled galleryBtnContainer centered" id="galleryBtnContainer">
    </ul>
    <ul class="list-unstyled galleryItemContainer" id="galleryItemContainer"></ul>
    <div class="centered">
        <button class="buttonMain centered hidden" id="buttonShowMore">Load more</button>
    </div>

</div>