<div class="container swb">
    <div class="row">
        <div class="navbar  navbar-static-top  headerlogo" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed headerBtn" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand logo headerLogo">
                        <img src="img/logo1.png" alt="logo">
                    </a>
                </div>
                <div class="navbar-collapse collapse headerMenuContainer" id="responsive-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home" class="menuLink">Home</a></li>
                        <li><a href="#aboutus" class="menuLink">About Us</a></li>
                        <li><a href="#portfolio" class="menuLink">Portolio</a></li>
                        <li><a href="#features" class="menuLink">Features</a></li>
                        <li><a href="#Blog" class="menuLink">Blog</a></li>
                        <li><a href="#pricing" class="menuLink">Pricing</a></li>
                        <li><a href="#shortcodes" class="menuLink">Shortcodest</a></li>
                        <li><a href="views/contacts.html" class="menuLink">Contact</a></li>
                        <li><a href="#" ><img src="img/icon-cart.png"></a> </li>
                        <li><a href="#"><img src="img/icon-search.png"></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>