<div class="third">
    <div class="container">
        <div class="thirdContent">
            <h2 class="main-title">
                Waxom is Realization of your Ideas.
            </h2>
            <h3 class="main-sub-title">
                Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            </h3>
        </div>
        <br>
        <br>
        <div class="container ce">
            <img class="img-responsive" src="img/slide.png">
        </div>
    </div>
</div>