<div class="container">
    <div class="web">
        <div class="row centered">
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <img src="img/webapp.png">
                <h2>Web & App Design</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <img src="img/development.png">
                <h2>Development</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <img src="img/customize.png">
                <h2>Customization</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <img src="img/marketing.png">
                <h2>Marketing</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
            </div>
        </div>
    </div>
</div>