<div class="container">
    <div class="web">
        <div class="row centered">
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <i class="glyphicon glyphicon-fire thirdImg"></i>
                <h2>Web & App Design</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                <h3>___</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <i class="glyphicon glyphicon-compressed thirdImg"></i>
                <h2>Development</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                <h3>___</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <i class="glyphicon glyphicon-globe thirdImg"></i>
                <h2>Customization</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                <h3>___</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 second">
                <i class="glyphicon glyphicon-shopping-cart thirdImg"></i>
                <h2>Marketing</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                <h3>___</h3>
            </div>
        </div>
    </div>
</div>